torch
transformers
datasets
accelerate
smolagents
langchain
langgraph
langchain-anthropic
langchain-openai

huggingface_hub

numpy
pandas

matplotlib
seaborn

random-word

ipykernel
jupyter

anthropic
openai
